@font-face {
    font-family: scp;
    src: url('../assets/VCR_OSD_MONO_1.001.ttf');
}
* {
    font-family: scp;
}
html, body {
    cursor: url('../cursors/cursor.cur'), auto !important; 
}
button {
    cursor: url('../cursors/link.cur'), auto !important; 
}
button:hover, .navbar a:hover{
    opacity: 70%;
    cursor: url('../cursors/link.cur'), auto !important; 
}
button:active, .navbar a:hover {
    opacity: 50%;
    cursor: url('../cursors/link.cur'), auto !important; 
}
input[type="text"]:hover{
    cursor: url('../cursors/text.cur'), text, auto !important; 
}
input[type="text"]:focus, textarea:focus {
    cursor: url('../cursors/text.ani'), auto !important; 
}
body::selection {
    cursor: url('../cursors/text.ani'), auto !important; 
}
body.busy {
    cursor: url('../cursors/working.ani'), auto !important; 
}
section > ul > li {
    list-style: disc;
}
a:hover{
    cursor: url('../cursors/link.cur'), auto !important; 
}
