body {
    position: relative;
}

.snowflake {
    position: fixed;
    top: -10px;
    font-size: 1em;
    color: white;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateX(0) translateY(-10vh);
    }
    100% {
        transform: translateX(calc(var(--dx) * 100vw)) translateY(111vh);
    }
}
